<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id = "sonyHand" class="kz.kazntu.lessons.models.sony.SonyHand"/>
    <bean id = "sonyHead" class="kz.kazntu.lessons.models.sony.SonyHead" />
    <bean id = "toshibaLeg" class="kz.kazntu.lessons.models.toshiba.ToshibaLeg" />

    <bean id = "robot" class="kz.kazntu.lessons.models.Robot">
        <constructor-arg name="hand" ref = "sonyHand"/>
        <constructor-arg name="head" ref = "sonyHead" />
        <constructor-arg name = "leg" ref = "toshibaLeg" />
    </bean>


</beans>